
<form method="post" >
<label for="name">Event Name: </label><input type="text" name="name" value="{{event.name}}" required><br>
<label for="description">Description: </label>: </label><input type="text" name="description" value="{{event.description}}" required><br>
<label for="location">Location: </label><input type="text" name="location" value="{{event.location}}"  required><br>
<label for="tourGuide">Tour Guide: </label><input type="text" name="tourGuide" value="{{event.tourGuide}}"  required><br>
<label for="price">Price: </label><input type="text" name="price" value="{{event.price}}" required><br>
<label for="maxUsers">Max Users: </label><input type="text" name="maxUsers" value="{{event.maxUsers}}"  required><br>
<label for="eventDate">Event Date: </label><input type="datetime-local" name="eventDate" value="{{event.eventDate}}"  required><br>
  <button type="submit" value="Submit">Update Event</button>
</form>

<link href="../../public/site.css" rel="stylesheet">
